ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0;
}

input[type='text'] {
  border: none;
  line-height: 2;
  padding: 10px;
  font-size: 24px;
  grid-column-start: 2;
  border-radius: 5px 0 0 5px;
  color: #457b9d;
}

input[type='text']:focus {
  outline-color: #1d3557;
}

button {
  border: none;
  background-color: #1d3557;
  color: #a8dadc;
  font-size: 24px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  padding: 0 1rem;
}

button:hover {
  background-color: #132948;
}

h2 {
  margin: 0;
}

.search {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-bottom: 2rem;
}

.search-results {
  text-align: center;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.search .input {
  flex-grow: 1;
  background-color: #ffffffaa;
}

.search .input:focus {
  outline: none;
  background-color: #ffffff;
}

.search-results .chevron {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-results .chevron .icon {
  width: 50px;
  height: 50px;
  fill: #1d3557;
  cursor: pointer;
}

.search-results .chevron.is-disabled .icon {
  cursor: not-allowed;
  fill: #1d355763;
}

.search-results .chevron:not(.chevron.is-disabled) .icon:hover {
  fill: #e63946;
}

.search-results-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.search-item {
  border-radius: 5px;
  background-color: #f1faee;
  color: #e63946;
  padding: 10px;
  display: grid;
  grid-template-columns: 25% 75%;
}

.search-item img {
  width: 75px;
  height: 111px;
  border-radius: 2px;
}

.search-item .search-item-data {
  padding-top: 10px;
  text-align: left;
  display: grid;
  grid-template-rows: 75% 25%;
}

.search-item .search-item-data .title {
  color: #457b9d;
  font-weight: bold;
  font-size: 20px;
}

.search-item .search-item-data .meta {
  font-size: 14px;
}

.no-results {
  background-color: #ffffffbb;
  width: 50%;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 3px;
  border-left: 4px solid cornflowerblue;
}
